body{
	background: $muted-purple;
}

.container{
	width: 60%;
}

h1{
	text-align: center;
	color: white;
	font-size: 4em;
}

.jumbotron{
	color: rgba(1,1,1,.5);
}

input{
	width : 100%;
}

.words p{
	text-align: right;
	font-size: 25px;
}